<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Appium Test Suite">
    <test name="Android Task Flow Tests">
        <classes>
            <!-- <class name="com.example.tests.TaskCrudSuite"/>
            <class name="com.example.tests.TaskCompletionSuite"/>
            <class name="com.example.tests.NavigationUiSuite"/>
            <class name="com.example.tests.SettingsSuite"/>
            <class name="com.example.tests.TasksListSuite"/> -->
            <class name="com.example.tests.TaskFlowTest"/>
        </classes>
    </test>
</suite>
