<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Appium Test Suite">
    <listeners>
        <listener class-name="com.example.util.TestFailureListener"/>
    </listeners>
    <test name="CreateTaskTests">
        <classes>
            <class name="com.example.tests.CreateTaskSuite"/>
        </classes>
    </test>
    <test name="UpdateTaskTests">
        <classes>
            <class name="com.example.tests.UpdateTaskSuite"/>
        </classes>
    </test>
    <test name="DeleteTaskTests">
        <classes>
            <class name="com.example.tests.DeleteTaskSuite"/>
        </classes>
    </test>
</suite>
